# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# Visual Studio
.vscode/
.vs/
.vscode/settings.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Dotnet Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# NuGet
*.nupkg
# The packages folder can be ignored because of the automatic restore
**/packages
