:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  
  .product-create {
    margin: 5px 5px 5px;
    gap:0;
    
  }
  .create-btn{
    margin: 5px 5px 5px;
    align-items: center;
    position: relative;
    left: 25px;
  }